body {
  font-size: 18px;
}

h2,
h3,
h4 {
  font-family: "Lucida Grande", Geneva, Verdana, sans-serif;
  line-height: 1.2;
  margin: 1em 0 0.5em;
}

p {
  font-family: Georgia, Cambria, serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 0 0 1em;
}
